*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body{
    
    background: #eee;
}
a{
    color: #424242;
}
a:hover:active:link:visited{
    color: #424242;
}
.nav{
    position: fixed;
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    font-size: 10pt;
    background: #fff;
}
.nav a{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-basis: 5em; 
}
.nav img{
    width: 2em;
    height: 2em;
}


/* my-view 个人资料, main-view 首页*/
.my-view, .main-view{
    position: relative;
    width: 100vw;
    min-height: 100vh;
}
.view-card{
    position: absolute;
    width: 100vw;
    height: 15vh;
    background: #eb3232;
}
.mine{
    position: absolute;
    top: .8em;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 8px;
    width: 98%;
    min-height: 20vh;
    background: #fff;
}
.user{
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 80%;
    height: 6em;
    margin: 1.2em auto;
    border-bottom: 1px solid #eee; 
}
.user::after{
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: .8em;
    height: .8em;
    border-top:1px solid #8a8a8a;
    border-right:1px solid #8a8a8a;
    transform: rotateZ(45deg);
  }
.user img{
    width: 5em;
    height: 5em;
    border-radius: 50%;
}
.user span{
    display: inline-block;
    width: 60%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 1em;
}

.menu{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    padding: 1.5em;
    box-sizing: border-box;
}
.menu .items{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 6em; 
}
.items img{
    width: 2em;
    margin: .5em;
}


/* main.css */

.wraper-main {
    position: absolute; 
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh; 
  }

.top-scroll {
    position: relative;
    width: 100%;
    height: 22px;
    line-height: 22px;
    color: #fff;
    background: orange;
    overflow: hidden;
}

.top-text {
    position: absolute;
    width: 260vw;
    transform: translateX(100vw);
    animation: scroll 20s infinite linear;
}
@keyframes scroll {
    100% {
      transform: translateX(-100%);
    }
  }
 
.list-ul {
    width: 97%;
    min-height: 100vh;
    border-radius: 8px;
    background: #fff;
    margin: 20px auto 6em auto;
}

.list-top {
    position: relative;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 1.5em 0 1em;
    width: 100%;
    height: 3em;
    line-height: 3em;
}






.new {
    position: relative;
    padding: 0 0.5em;
    font-size: 12pt;
  }
  
.new::before {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    width: 3px;
    height: 1em;
    border-radius: 10px;
    background: #d81e06;
}
  
.more {
    color: #8a8a8a;
    font-size: 10pt;
}

.more::after {
    position: absolute;
    right: 1.2em;
    top: 0;
    bottom: 0;
    margin: auto;
    content: "";
    width: 0.6em;
    height: 0.6em;
    border: 1px solid #8a8a8a;
    border-left: none;
    border-bottom: none;
    border-radius: 0 5px 0 0;
    transform: rotateZ(45deg);
}
  
.list {
    position: relative;
    box-sizing: border-box; 
    
    background: #fff;
}
  
.list-item {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    height: 28vw;
    padding: 0.5em;
    border-bottom: 1px solid #eee;
    overflow: hidden;
    font-size: 0;
}
  
.list-item view {
    display: inline-block;
    vertical-align: middle;
}

.items-box{
    display: flex;
    justify-content: flex-start;
    align-items: center; 

}
.item-image {
    position: relative;
    width: 25vw;
    height: 25vw; 
}
  
.item-image img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 80%;
    height: 80%;
}

.item-main {
    
    width: 60vw;
    max-height: 60%;
    font-weight: 400;
    font-size: 12pt;
}
.item-main .item-title{
    max-height: 2.6em;
    margin-bottom: .5em;
    overflow: hidden;
  }
  .other { 
    width: 100%;
    height: 12pt;
    color: #8a8a8a;
    font-size: 10pt;
  }
  
  .price{
      display: inline-block;
  }
  .price img,.see img,.favor img{
    width: 14pt;
    height: 14pt;
    vertical-align: middle;
  }
  
  .price span,.see span,.favor span {
    display: inline-block;
    vertical-align: middle;
    margin: 0 1em 0 .2em;
  }
  
  .pay-count { 
    display: inline-block;
    vertical-align: middle;
    color: #8a8a8a;
    font-size: 10pt;
  }
  
  /*today 显示最新*/
  .today{
    position: absolute;
  }
  .today{
    position: absolute;
    width: 5em;
    height: 1.5em;
    line-height: 1.5em;
    font-size: 10pt;
    color: #fff ;
    text-align: center;
    background: red;
    transform: rotateZ(-45deg) translate(-25%, -70%);
  
  }
  
  /* over 显示已完赛*/
  .over{
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 5%;
    width: 20%;
  }


  /*more css*/

  .item-about {
      line-height: 1.2em;
      max-height: 3.5em;
      font-size: .8em;
      color: #8a8a8a;
      overflow: hidden;
  }

  .other{
      display: flex;
      justify-content: flex-start;
      margin-top: 1em;
  }
  .other div{
      display: flex;
      flex-wrap: nowrap;
      width: 6em;
  }

  /* 大师推球 */

  .list-nav{
      width: 100%;
      height: 2em;
      line-height: 2em;
      font-size: 1em;
      font-weight: 500;
      text-align: center;
      box-shadow: 0 3px 5px #eee;
  }

  /* 个人资料 */
  
.form-list{
    box-sizing: border-box;
    width: 100vw;
    height: 100vh; 
    background: #fff;
}
.form-div{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 80vh;
}
label{
    color: #eb3232;
    background: #eee;
    padding: .3em 1.5em;
    font-size: .8em;
    
}
.tips{
    color: #888;
    font-size: .8em;
}
.name-div{
    display: flex;
    justify-content: space-between;
    background-color: #eee;
}
input{
    margin: .5em 1em;
    padding: .2em 0;
    font-size: .8em;
    border: none;
    outline: none;
}
.aboutUser{
    width: 100%;
    height: 30%;
    box-sizing: border-box;
    padding: 1em;
    font-size: 1.2em;
    border:  1px solid #eee;
    outline: none ; 
}
.submit{ 
    padding: .5em 5em;
    margin-left: 50%;
    transform: translate(-50%,0);
    border: none;
    background: #eb3232;
    border-radius: 10px;
    color: #fff;
    outline: none;
}
.submit:active{
    background: #9c0606;
}
